@import "tailwindcss";
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeSlide 0.8s ease-out forwards;
}

@keyframes cardFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card-fade {
  animation: cardFade 0.8s ease-out forwards;
}

@keyframes bounceOnce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

.group-hover\:animate-bounce-once:hover {
  animation: bounceOnce 0.4s ease-out;
}
